@let(buttonTextFromSlot = await $slots.main())
@let(buttonText = buttonTextFromSlot.trim() ? buttonTextFromSlot : $props.get('text') ?? '')
@let(classes = [])

<button class="bg-linear-to-r from-[#4182b4] to-[#DFEEF3]" {{
  $props.except(['text']).merge({ class: classes }).toAttrs()
}}>{{{ buttonText }}}</button>
