@import "tailwindcss";
@source "../views";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#12254A] text-white;

  }
}

@layer components {
  .bg-agencias {
    @apply bg-[#0D4576];
  }
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}


