@layout()

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Agencias</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-[#0D4576] border rounded-md mx-24 my-4">





  <div class="justify-self-center border border-color-[#FFFFF]">
    <p class="text-center text-white drop-shadow-[0_0_10px_rgba(255,255,255,0.8)] text-4xl font-semibold">
      With which agency do you wish to send your parcel today?
    </p>
</div>

<div class=" p-4 justify-items-center border border-color[#FFFFF]">
      <input class="p-1 flex justify-center  rounded-2xl w-182 from-[#787880] bg-[#787880]/60" placeholder="Buscar">
      </div>





</body>

</html>

@end
