<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatDoor</title>
    
</head>

<body>

    <div class="bg-[url(/img/resources\assets\Gift Line Images – Browse 1,209,890 Stock Photos, Vectors, and Video.jpg)]">
    <header>
        <h1>Bienvenido a ChatDoor</h1>
    </header>
</div>
    
</body>


</html>