@layout()

<div class="rounded-lg">

  <div class="relative min-h-screen w-full overflow-y-auto">
    <video autoplay loop muted src="/resources/assets/video2background.mp4"
      class="fixed inset-0 w-full h-full object-cover -z-10">
    </video>

    <nav
      class="sticky top-0 left-0 w-full z-[9999] flex justify-between items-center px-8 py-6 bg-gradient-to-r from-[#12254A]/60 via-[#0D4576]/60 to-[#12254A]/60 backdrop-blur-md mb-26">
      <a href="/" class="flex items-center">
        <img src="resources/assets/solo_to.png" alt="Logo doortodoor"
          class="h-18 w-auto rounded-full hover:scale-105 transition-duration-400 object-cover shadow-[0_10px_8px_0_rgba(0,0,0,0.3)]">
      </a>

      <a href="home" target="_blank"
        class="drop-shadow-[0_1px_3px_rgba(255,255,255,0.5)] hover:underline hover:text-white">Home</a>

      <div class="relative group" style="z-index:9999">
        <button
          class="flex items-center cursor-pointer gap-2 text-white bg-white/10 backdrop-blur-md px-5 py-2 rounded-full border border-white/20 hover:bg-white/20 transition-all active:scale-95">
          <span class="font-medium">Menu</span>
          <svg class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
        </button>
        <div
          class="absolute right-0 mt-3 w-56 bg-white/70 rounded-2xl shadow-2xl opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all duration-300 z-[9999] overflow-hidden py-2 border border-white/20">
          <a href="profile" class="block px-4 py-2.5 text-sm font-medium text-slate-800 hover:bg-[#0D4576] hover:text-white transition-colors">Your profile</a>
          <a href="#" class="block px-4 py-2.5 text-sm text-slate-800 font-medium hover:bg-[#0D4576] hover:text-white transition-colors">Settings</a>
          <div class="h-[1px] bg-slate-200 my-1"></div>
          <a href="#" class="block px-4 py-2.5 text-sm font-medium text-[#12254A] hover:bg-[#12254A] hover:text-white transition-colors">Sign out</a>
        </div>
      </div>
    </nav>
<div class="mx-16">
    <div class="flex flex-col items-center justify-center mt-4 ">
      <p class="comp-titulo text-center text-white drop-shadow-[0_0_10px_rgba(255,255,255,0.8)] text-3xl font-semibold pointer-events-none px-22 mx-14 py-4">
        Compare
      </p>
      <div class="linea-deco flex justify-self-center h-1 w-100 bg-linear-to-r from-[#4182B4] to-[#0D4576] drop-shadow-[0_0_8px_#4182b4]"></div>
    </div>

    <div class="flex flex-col items-center justify-center p-12">
      <div class="flex flex-row flex-wrap justify-center gap-16 p-4 items-start">


        <div class="comp-card-left flex flex-col items-center border p-4 border-sky-600 hover:shadow-[0_0_25px_20px_#1D4D92] transition-all hover:scale-102 rounded-xl bg-[#083D8A] w-80 shadow-lg">
          <div class="relative">
            <img src="resources/assets/conectexpress.png"
              class="h-40 w-auto mx-auto object-contain mb-4 border rounded-3xl">
            <div class="absolute top-2 right-3 transition-transform hover:scale-120">
              <button>
                <span class="material-symbols-outlined text-[#4182B4] cursor-pointer">favorite</span>
              </button>
            </div>
          </div>

          <h1 class="text-center text-white font-bold text-2xl pb-8">ConectExpress</h1>

          <div class="flex flex-col items-center justify-center gap-8 w-full">

            <div class="comp-row grid grid-cols-2 gap-2 items-center border-y border-white/40 h-40 w-full overflow-hidden py-4">
              <p class="break-all text-center text-white text-sm">Monday to Friday:</p>
              <p class="break-all text-center text-white text-sm">9:30 a.m. – 6:30 p.m.</p>
              <p class="break-all text-center text-white text-sm">Saturday:</p>
              <p class="break-all text-center text-white text-sm">10:00 a.m. – 3:00 p.m.</p>
              <p class="break-all text-center text-white text-sm">Sunday:</p>
              <p class="break-all text-center text-white text-sm">Closed</p>
            </div>


            <div class="comp-row grid grid-cols gap-2 items-center w-full overflow-hidden py-4">
              <p class="text-center break-all text-white text-sm">From all of El Salvador:</p>
              <p class="text-center break-all text-white text-sm">to where in the United States</p>
            </div>


            <div class="comp-row flex flex-col justify-center items-center border-y border-white/40 h-40 w-full px-4 py-4 overflow-hidden">
              <div class="w-full flex flex-col gap-2">
                <p class="text-center text-white text-sm">Clothes</p>
                <p class="text-center text-white text-sm">Electronics</p>
                <p class="text-center text-white text-sm">Office items</p>
                <p class="text-center text-white text-sm">Manufactures</p>
              </div>
            </div>

            <button
              class="border rounded-full w-42 h-10 bg-gradient-to-r from-[#4182B4] via-[#2467A2] to-[#0D4576] cursor-pointer hover:from-[#2467A2] hover:via-[#4182B4] hover:to-[#2467A2] transition-all duration-300 m-4 text-white drop-shadow-[0_1px_3px_rgba(255,255,255,0.5)] btn-pupusa">
              Select agency
            </button>
          </div>
        </div>

        <div class="comp-labels flex flex-col items-center justify-center gap-8 px-4">
          <div class="h-[212px]"></div>

          <div class="py-4 h-[112px] flex items-center">
            <p class="text-white font-semibold text-2xl uppercase tracking-widest drop-shadow-[0_0_10px_rgba(255,255,255,0.8)]">
              Schedule</p>
          </div>

          <div class="py-4 h-[80px] flex items-center">
            <p class="text-white font-semibold text-2xl uppercase tracking-widest drop-shadow-[0_0_10px_rgba(255,255,255,0.8)]">
              Coverage</p>
          </div>

          <div class="py-4 h-[120px] flex items-center">
            <p class="text-white font-semibold text-2xl uppercase tracking-widest drop-shadow-[0_0_10px_rgba(255,255,255,0.8)] text-center leading-tight">
              Allowed<br>Product</p>
          </div>

          <div class="h-[72px]"></div>
        </div>


        <div class="comp-card-right flex flex-col items-center border p-4 border-sky-600 hover:shadow-[0_0_25px_20px_#1D4D92] transition-all hover:scale-102 rounded-xl bg-[#083D8A] w-80 shadow-lg">
          <div class="relative">
            <img src="resources/assets/enviomundo.png"
              class="h-40 w-auto mx-auto object-contain mb-4 border rounded-3xl">
            <div class="absolute top-2 right-3 transition-transform hover:scale-120">
              <button>
                <span class="material-symbols-outlined text-[#4182B4] cursor-pointer">favorite</span>
              </button>
            </div>
          </div>

          <h1 class="text-center text-white font-bold text-2xl pb-8">EnvíoMundo</h1>

          <div class="flex flex-col items-center justify-center gap-8 w-full">

            <div class="comp-row grid grid-cols-2 gap-2 items-center border-y border-white/40 h-40 w-full overflow-hidden py-4">
              <p class="break-all text-center text-white text-sm">Monday to Friday:</p>
              <p class="break-all text-center text-white text-sm">9:30 a.m. – 6:30 p.m.</p>
              <p class="break-all text-center text-white text-sm">Saturday:</p>
              <p class="break-all text-center text-white text-sm">10:00 a.m. – 3:00 p.m.</p>
              <p class="break-all text-center text-white text-sm">Sunday:</p>
              <p class="break-all text-center text-white text-sm">Closed</p>
            </div>

            <div class="comp-row grid grid-cols gap-2 items-center w-full overflow-hidden py-4">
              <p class="text-center break-all text-white text-sm">From all of El Salvador:</p>
              <p class="text-center break-all text-white text-sm">to where in the United States</p>
            </div>


            <div class="comp-row flex flex-col justify-center items-center border-y border-white/40 h-40 w-full px-4 py-4 overflow-hidden">
              <div class="w-full flex flex-col gap-2">
                <p class="text-center text-white text-sm">Clothes</p>
                <p class="text-center text-white text-sm">Light technology</p>
                <p class="text-center text-white text-sm">Refrigerated food</p>
                <p class="text-center text-white text-sm">Sweets</p>
              </div>
            </div>

            <button
              class="border rounded-full w-42 h-10 bg-gradient-to-r from-[#4182B4] via-[#2467A2] to-[#0D4576] cursor-pointer hover:from-[#2467A2] hover:via-[#4182B4] hover:to-[#2467A2] transition-all duration-300 m-4 text-white drop-shadow-[0_1px_3px_rgba(255,255,255,0.5)] btn-pupusa">
              Select agency
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>
  </div>

  <footer
    class="relative z-10 flex flex-row items-center justify-around bg-gradient-to-r from-[#12254A]/70 via-[#0D4576]/30 to-[#12254A]/70">

    <div class="flex-shrink-0">
      <img src="resources/assets/solo_to.png"
        class="h-48 w-48 rounded-full  my-6 object-cover shadow-[0_10px_10px_0_rgba(0,0,0,0.3)]">
    </div>

    <div class="flex flex-row items-start gap-16 p-2">


      <div class="flex flex-col items-center gap-3">
        <p class="pb-4 font-bold text-lg text-white text-shadow-lg/20">Our Team</p>
        <div class="flex flex-col items-center gap-2 text-white">
          <a href="about_us.com" target="_blank"
            class="drop-shadow-[0_1px_3px_rgba(255,255,255,0.5)] hover:underline hover:text-white">About Us</a>
          <a href="privacy_policy.com" target="_blank"
            class=" drop-shadow-[0_1px_3px_rgba(255,255,255,0.5)] hover:underline hover:text-white">Privacy Policy</a>
          <a href="contact_us.com" target="_blank"
            class=" drop-shadow-[0_1px_3px_rgba(255,255,255,0.5)] hover:underline hover:text-white">Contact Us</a>
        </div>
      </div>


      <div class="flex flex-col items-center gap-3">
        <p class="pb-4 font-bold text-lg text-white text-shadow-lg/20 ">Agencias</p>
        <div class="flex flex-row gap-10 text-white">
          <div class="flex flex-col text-center gap-2">
            <a href="Fidix" target="_blank"
              class=" drop-shadow-[0_1px_3px_rgba(255,255,255,0.5)] hover:underline hover:text-white">FIDIX</a>
            <a href="Enviomundo" target="_blank"
              class=" drop-shadow-[0_1px_3px_rgba(255,255,255,0.5)] hover:underline hover:text-white">EnvíoMundo</a>
            <a href="AY" target="_blank"
              class=" drop-shadow-[0_1px_3px_rgba(255,255,255,0.5)] hover:underline hover:text-white">AY</a>
          </div>
          <div class="flex flex-col text-center gap-2">
            <a href="CargoRapido" target="_blank"
              class=" drop-shadow-[0_1px_3px_rgba(255,255,255,0.5)] hover:underline hover:text-white">CargoRápido</a>
            <a href="ConectExpress" target="_blank"
              class=" drop-shadow-[0_1px_3px_rgba(255,255,255,0.5)] hover:underline hover:text-white">ConnectExpress</a>
            <a href="GlobalBox" target="_blank"
              class=" drop-shadow-[0_1px_3px_rgba(255,255,255,0.5)] hover:underline hover:text-white">GlobalBox
              Express</a>
          </div>
        </div>
      </div>


      <div class="flex flex-col items-center gap-3">
        <p class="pb-4 font-bold text-lg text-white text-shadow-lg/20">Follow Us</p>
        <div class="flex flex-row gap-4">
          <a href="facebook.com" target="_blank" class="transition-transform hover:scale-110">
            <img src="resources/assets/facebook.png" class="h-10 w-10">
          </a>
          <a href="instagram.com" target="_blank" class="transition-transform hover:scale-110">
            <img src="resources/assets/insta.png" class="h-10 w-10">
          </a>
          <a href="twitter.com" target="_blank" class="transition-transform hover:scale-110">
            <img src="resources/assets/twitter.png" class="h-10 w-10">
          </a>
        </div>
      </div>

    </div>
  </footer>

</div>

@end
