@layout()
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>DoorToDoor</title>
</head>

<body>
    <video autoplay loop muted src="/resources/assets/video2background.mp4"
      class="fixed top-0 left-0 w-full h-full object-cover z-0"></video>

      <main class="relative z-10 flex flex-col items-center justify-center h-screen text-white px-4 text-center">
      <h1 class="font-bold text-4xl md:text-4xl drop-shadow-2xl mb-4">El Salvador is knocking your door</h1>
      <p class="text-lg md:text-2xl opacity-90 drop-shadow-lg">Making every delivery feel personal</p>
      </main>

  <nav class="absolute top-0 left-0 w-full z-50 flex justify-between items-center px-8 py-6 bg-transparent">

    <a href="/" class="flex items-center">
      <img src="resources\assets\solo_to.png" alt="Logo doortodoor"
        class="h-18 w-auto object-contain hover:scale-105 transition-duration-400">
    </a>



    <div class="relative group">
      <button
        class="flex items-center gap-2 text-white bg-white/10 backdrop-blur-md px-5 py-2 rounded-full border border-white/20 hover:bg-white/20 transition-all active:scale-95">
        <span class="font-medium">Menú</span>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
      </button>

      <div
        class="absolute right-0 mt-3 w-56 bg-white rounded-2xl shadow-2xl opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all duration-300 z-[60] overflow-hidden py-2 border border-white/20">
        <a href="todavia no esta"
          class="block px-4 py-2.5 text-sm text-slate-800 hover:bg-[#12254A] hover:text-white transition-colors">Tu
          perfil</a>
        <a href="todavia no esta"
          class="block px-4 py-2.5 text-sm text-slate-800 hover:bg-[#12254A] hover:text-white transition-colors">Configuración</a>
        <div class="h-[1px] bg-slate-200 my-1"></div>
        <a href="tampoco se puede"
          class="block px-4 py-2.5 text-sm text-red-600 hover:bg-red-500  hover:text-white transition-colors">Cerrar
          Sesión</a>
      </div>
    </div>
  </nav>

</body>

</html>
@end
