@layout()

@navbar() 
  
@end

<div class="relative bg-[#12254A]">
  <video autoplay loop muted src="/resources/assets/video2background.mp4" class="bg-cover object-cover bg-center h-screen"></video>

        <div
          class="absolute top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 py-16 px-8 rounded-4xl bg-white/5 backdrop-filter backdrop-blur-xl bg-opacity-40 shadow-xl/30 inset-shadow-sm inset-shadow-white/75">
          <h1 class="text-center text-3xl font-bold font-header text-shadow-lg/30 text-shadow-[#4182b4]">Login</h1>


          @!input({
          label: "Email",
          type: "text",
          name: "email",
          placeholder: "Your Email"
          })

          @!input({
          label: "Password",
          type: "text",
          name: "Password",
          placeholder: "Your Password"
          })

          <div class="flex justify-center pt-8 pb-4">
            <a href="/welcome"
              class="flex items-center justify-center border rounded-full w-50 h-10 bg-gradient-to-r from-[#4182B4] via-[#2467A2] to-[#0D4576] cursor-pointer hover:bg-gradient-to-r hover:from-[#2467A2] hover:via-[#4182B4] hover:to-[#2467A2] transition-all duration-300 m-4 no-underline">

              <p class="drop-shadow-[0_1px_3px_rgba(255,255,255,0.5)] hover:drop-shadow-[0_0_2px_#fff] text-white font-bold">
                Log in
              </p>
            </a>


          </div>

          <div class="flex justify-center gap-1">
            <a>Don't have an account?</a>
            <a href="register" class="font-bold">Register</a>
          </div>
        </div>

</div>
@end