@layout() 
 <!--Sidebar-->
    <div elative size-32>

        <div class="absolute inset-y-0 left-0 w-16 py-16 px-8 rounded-4xl bg-white/5 backdrop-filter backdrop-blur-xl bg-opacity-40 shadow-xl/30 inset-shadow-sm inset-shadow-white/75"> 
        <a>dakjdsjd</a>
        </div>

    </div>
       

@end