@layout()

@!navbar()


<div class="grid grid-cols-1 lg:grid-cols-2 gap-4">

    <div class="flex justify-center items-center pt-30 lg:pt-35">

        <div class="
        flex justify-center items-center rounded-full bg-blue-400/30

        w-[190px] h-[190px]
        sm:w-[240px] sm:h-[240px]
        md:w-[320px] md:h-[320px]
        lg:w-[500px] lg:h-[500px]
    ">

            <img src="/resources/assets/image.png" class="
                rounded-full object-cover border border-white/50 shadow-xl/30 shadow-white

                w-[120px] h-[120px]
                sm:w-[160px] sm:h-[160px]
                md:w-[220px] md:h-[220px]
                lg:w-[350px] lg:h-[350px]
            ">

        </div>

    </div>

    <div class="lg:col-start-2 flex justify-center items-center pt-10 lg:pt-35 grid">
        <h1
            class="text-center text-4xl sm:text-5xl m:text-6xl font-bold font-header text-shadow-lg/30 text-shadow-[#4182b4]">
            Hello there!</h1>
        <h2 class="text-center text-2xl font-bold font-header text-shadow-lg/30 text-shadow-[#4182b4] pb-4">This is your
            profile</h2>

        <div class="py-10 px-14 rounded-4xl bg-white/5 backdrop-filter backdrop-blur-xl bg-opacity-40 grid gap-2">
            <h3 class="text-xl font-bold font-header"> Sandra Guadalupe Mendez</h3>
            <p class="font-bold text-fg-brand font-medium text-blue-600/100 dark:text-sky-400/100">@Sandrita08</p>

            <div class="mt-2 mb-2 flex items-center gap-4 text-white/90">

                <div class="flex items-center gap-2">

                    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2">

                        <path
                            d="M20 10c0 4.993-5.539 10.193-7.399 11.799a1 1 0 0 1-1.202 0C9.539 20.193 4 14.993 4 10a8 8 0 0 1 16 0" />
                        <circle cx="12" cy="10" r="3" />

                    </svg>

                    <p>Houston, Texas</p>

                </div>

                <div class="flex items-center gap-2">

                    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2">

                        <path d="M8 2v4" />
                        <path d="M16 2v4" />
                        <rect width="18" height="18" x="3" y="4" rx="2" />
                        <path d="M3 10h18" />

                    </svg>

                    <p>Joined in 2023</p>

                </div>

            </div>
            <div class="py-4 px-5 rounded-xl bg-white/5 backdrop-filter backdrop-blur-xl bg-opacity-40 grid gap-1">
                <div class="border border-white/25 py-4 px-4 rounded-xl">
                    <h1 class="font-bold text-l">About me</h1>
                    <p>Salvadorenia en USA, q extrania las quesadillas</p>
                </div>
            </div>

            <div class="flex justify-center mt-6">
                <button
                    class="cursor-pointer bg-[#2467A2] rounded-xl border-1 border-white/50 p-2 px-4 text-lg flex items-center gap-2 text-base"><svg
                        xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-pencil-icon lucide-pencil">
                        <path
                            d="M21.174 6.812a1 1 0 0 0-3.986-3.987L3.842 16.174a2 2 0 0 0-.5.83l-1.321 4.352a.5.5 0 0 0 .623.622l4.353-1.32a2 2 0 0 0 .83-.497z" />
                        <path d="m15 5 4 4" />
                    </svg>Edit Profile</button>
            </div>

        </div>
    </div>

</div>

</div>

@end