@layout() 

 <div>
  <video autoplay loop muted src="/resources/assets/video2background.mp4" class="bg-cover object-cover bg-center h-screen"></video>

  <div class="absolute top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 py-16 px-8 rounded-4xl bg-white/5 backdrop-filter backdrop-blur-xl bg-opacity-40 shadow-xl/30 inset-shadow-sm inset-shadow-white/75">
    <h1 class="text-center pb-2 text-3xl font-bold font-header text-shadow-lg/30 text-shadow-[#4182b4]">Sign up</h1>

      <div class="grid gap-y-3">
        @!secondinput({
          type: "text",
          name: "Name",
          label: "Name and last name"
        }) 
      
        @!secondinput({
          type: "text",
          name: "Name",
          label: "Email"
        }) 
      </div>

    <div class="pt-5">
      @!button({
        text: "Register"
      }) 

    </div>

  </div>

 </div> 


@end