@layout() 

 <div>
  <video autoplay loop muted src="/resources/assets/video2background.mp4" class="bg-cover object-cover bg-center h-screen"></video>

  <div class="absolute top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 py-16 px-8 rounded-4xl bg-white/5 backdrop-filter backdrop-blur-xl bg-opacity-40 shadow-xl/30 inset-shadow-sm inset-shadow-white/75">
    <h1 class="text-center text-4xl font-bold pb-5 font-header text-shadow-lg/30 text-shadow-[#4182b4]">Sign up</h1>

  </div>

 </div> 


@end