@layout()

<div class="relative bg-[#12254A] h-screen w-full overflow-y-auto">
  <video autoplay loop muted src="/resources/assets/video2background.mp4"
    class="fixed inset-0 w-full h-full object-cover z-0">
  </video>

  <nav class="absolute top-0 left-0 w-full z-50 flex justify-between items-center px-8 py-6 bg-transparent">

    <a href="/" class="flex items-center">
      <img src="resources\assets\solo_to.png" alt="Logo doortodoor"
        class="h-18 w-auto object-contain hover:scale-105 transition-duration-400">
    </a>

    <div class="relative group">
      <button
        class="flex items-center gap-2 text-white bg-white/10 backdrop-blur-md px-5 py-2 rounded-full border border-white/20 hover:bg-white/20 transition-all active:scale-95">
        <span class="font-medium">Menú</span>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
      </button>

      <div
        class="absolute right-0 mt-3 w-56 bg-white rounded-2xl shadow-2xl opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all duration-300 z-[60] overflow-hidden py-2 border border-white/20">
        <a href="todavia no esta"
          class="block px-4 py-2.5 text-sm text-slate-800 hover:bg-[#12254A] hover:text-white transition-colors">Tu
          perfil</a>
        <a href="todavia no esta"
          class="block px-4 py-2.5 text-sm text-slate-800 hover:bg-[#12254A] hover:text-white transition-colors">Configuración</a>
        <div class="h-[1px] bg-slate-200 my-1"></div>
        <a href="tampoco se puede"
          class="block px-4 py-2.5 text-sm text-red-600 hover:bg-red-500  hover:text-white transition-colors">Cerrar Sesión</a>
      </div>
    </div>
  </nav>

  <main class="relative z-10 h-screen flex flex-col items-center justify-center text-center px-4">
    <h1 class="text-white text-7xl md:text-9xl font-extrabold tracking-tighter drop-shadow-2xl font-header">
      Welcome
    </h1>
    <p class="text-white text-xl md:text-3xl mt-6 max-w-2xl font-light tracking-wide italic">
      Bring a piece of El Salvador to you<span class="font-bold text-[#4182b4]">+</span>
    </p>
  </main>

  <section class="relative z-10 py-20 px-8">
    <div class="max-w-4xl mx-auto text-center">
      <h2 class="text-white text-3xl md:text-5xl font-bold tracking-tight drop-shadow-md">
        With which agency do you wish to send your parcel today?
      </h2>

    </div>
  </section>

</div>

@end
